@font-face {
  font-family: "gothambold1";
  src: url("fonts/gothambold1.eot");
  src: url("fonts/gothambold1.eot?#iefix");
  src: url("fonts/gothambold1.woff") format("woff");
  src: url("fonts/gothambold1.ttf") format("truetype"); }
@font-face {
  font-family: "GothamBook";
  src: url("fonts/GothamBook.eot");
  src: url("fonts/GothamBook.eot?#iefix");
  src: local("GothamBook");
  src: url("fonts/GothamBook.woff") format("woff");
  src: url("fonts/GothamBook.ttf") format("truetype"); }
@font-face {
  font-family: "FontAwesome";
  src: url("fonts/fontawesome.eot");
  src: url("fonts/fontawesome.eot#iefix");
  src: local("fonts/FontAwesome");
  src: url("fonts/fontawesome.woff") format("woff");
  src: url("fonts/fontawesome.ttf") format("truetype"); }
@font-face {
  font-family: "GothamProMedium";
  src: url("/fonts/GothamProMedium/GothamProMedium.eot");
  src: url("/fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff");
  src: url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

button {
  outline: none;
  border: none; }

button:focus, input:focus {
  outline: none; }

body {
  background-color: #f3f1f2; }

.header {
  background-image: url("img/bg_4_1.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center; }

.bg_header {
  background-color: white; }

.logo {
  margin-top: 0.8em; }

.nav_col {
  margin-top: 1.5em; }

.navigation_list li {
  display: inline;
  padding-left: 1em; }
.navigation_list a {
  font-family: "GothamBook";
  font-size: 0.875em;
  text-transform: uppercase;
  color: #96a6a7;
  text-decoration: none; }
  .navigation_list a:hover {
    text-decoration: none;
    color: #e94e38; }

.header_user_button {
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0; }
  .header_user_button button#header_search_btn {
    float: left;
    width: 31%;
    height: 4.4em;
    border: none;
    background-color: #e2dee0; }
    .header_user_button button#header_search_btn:hover {
      background-color: #edeced; }
  .header_user_button button#header_login_btn {
    float: left;
    font-size: 0.875em;
    color: white;
    text-align: left;
    width: 60%;
    height: 5em;
    background-color: #e94e38;
    font-family: "GothamBook"; }
    .header_user_button button#header_login_btn:hover {
      border: none;
      background-color: #ee6653; }
    .header_user_button button#header_login_btn i.fa.fa-user.fa-lg {
      padding-left: 10%;
      padding-right: 10%; }
    .header_user_button button#header_login_btn a {
      text-transform: uppercase;
      display: block;
      color: white; }
      .header_user_button button#header_login_btn a:hover {
        color: white;
        text-decoration: none; }

.search_row h2 {
  padding: 1.8em 0 1em 0;
  text-align: center;
  font-family: "GothamBook";
  color: white; }

.search_input {
  font-family: "GothamBook";
  font-size: 1.1em;
  color: white; }
  .search_input form {
    width: 60%;
    margin: 0 auto; }
  .search_input input[type=text] {
    margin: 0 0 1.5em 1.5em;
    padding-left: 2em;
    width: 39%;
    height: 3.125em;
    display: inline-block;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0.1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4em; }
    .search_input input[type=text]:hover {
      background-color: rgba(255, 255, 255, 0.3); }
    .search_input input[type=text]:focus::-webkit-input-placeholder {
      color: transparent; }
    .search_input input[type=text]:focus::-moz-placeholder {
      color: transparent; }
    .search_input input[type=text]:focus:-moz-placeholder {
      color: transparent; }
    .search_input input[type=text]:focus:-ms-input-placeholder {
      color: transparent; }
  .search_input input#search_input_select {
    background-image: url("img/ar_down.png");
    background-repeat: no-repeat;
    background-position: 90% 50%; }
  .search_input input[type="text"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8); }
  .search_input input[type="text"]:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8); }
  .search_input input[type="text"]::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8); }
  .search_input input[type="text"]:-moz-placeholder {
    color: rgba(255, 255, 255, 0.8); }
  .search_input input#input_data {
    width: 83%; }
  .search_input button[type="submit"] {
    display: block;
    margin: 0 0 5% 35%;
    font-family: "GothamBook";
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
    font-size: 1.1em;
    background-color: #e94e38;
    box-shadow: 0px 2px 0px 0px rgba(193, 65, 46, 0.004);
    -moz-box-shadow: 0px 2px 0px 0px rgba(193, 65, 46, 0.004);
    -webkit-box-shadow: 0px 2px 0px 0px rgba(193, 65, 46, 0.004);
    width: 140px;
    height: 60px;
    border-radius: 4em; }
    .search_input button[type="submit"]:hover {
      background-color: #d4695a; }

.search_filter {
  background-color: white;
  border-bottom: 1px solid rgba(150, 166, 167, 0.5); }

.topic ul {
  margin-left: -10px;
  margin-top: 1.5em;
  padding-left: 0; }
.topic li {
  display: inline;
  padding-right: 1em; }
.topic a {
  font-family: "GothamBook";
  font-size: 0.75em;
  text-transform: uppercase;
  color: #96a6a7;
  text-decoration: none;
  font-weight: bold; }
  .topic a:hover {
    text-decoration: none;
    color: #e94e38; }

.filter_input {
  margin-left: -10px;
  margin-top: 1em;
  margin-bottom: 1em; }
  .filter_input form {
    display: inline-block;
    margin: 0 auto; }
    .filter_input form input[type="text"] {
      padding-left: 1em;
      margin-left: 0.5em;
      width: 11em;
      height: 3em;
      border-radius: 4em;
      font-family: "GothamBook";
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.75em; }
    .filter_input form input[type="button"] {
      padding-left: 1.5em;
      text-align: left;
      width: 11em;
      height: 3em;
      border-radius: 4em;
      font-family: "GothamBook";
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.75em;
      background-color: #1baf5d;
      border: none;
      color: white; }
    .filter_input form #input_place_filter {
      background-image: url("img/search_filter_ar_down.png");
      background-repeat: no-repeat;
      background-position: 87% 50%;
      border: 1px solid rgba(150, 166, 167, 0.9); }
      .filter_input form #input_place_filter:hover {
        background-color: #f0f0f0; }
    .filter_input form input[type="text"]::-webkit-input-placeholder {
      color: rgba(233, 78, 56, 0.9); }
    .filter_input form input[type="text"]:-ms-input-placeholder {
      color: rgba(233, 78, 56, 0.9); }
    .filter_input form input[type="text"]::-moz-placeholder {
      color: rgba(233, 78, 56, 0.9); }
    .filter_input form input[type="text"]:-moz-placeholder {
      color: rgba(233, 78, 56, 0.9); }
    .filter_input form input#input_map_filter {
      background-image: url("img/search_filter_map_icon.png");
      background-repeat: no-repeat;
      background-position: 87% 50%; }
      .filter_input form input#input_map_filter:hover {
        background-color: rgba(27, 175, 93, 0.9); }

.filter_icon_list {
  float: right;
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0; }
  .filter_icon_list ul {
    margin-left: 0;
    margin-top: 1em;
    padding-left: 0; }
  .filter_icon_list li {
    display: inline;
    padding-right: 0.3em; }
  .filter_icon_list li#filter_icon_text {
    font-family: "GothamBook";
    font-size: 0.75em;
    text-transform: uppercase;
    color: #96a6a7;
    text-decoration: none;
    font-weight: bold; }
  .filter_icon_list li#filter_icon_text {
    display: inline-block; }
  .filter_icon_list img:hover {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }

.posts {
  background-color: #f3f1f2; }

.posts_container {
  padding-top: 2em;
  border-bottom: 1px solid rgba(150, 166, 167, 0.5); }
  .posts_container .posts_small_row_1 {
    display: flex;
    Justify-content: space-between; }
  .posts_container .post_sm_1, .posts_container .post_sm_2, .posts_container .post_sm_3, .posts_container .post_sm_4 {
    height: 267px;
    width: 21%;
    background-color: white;
    z-index: 1;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 3px 0px #8f8c8f;
    -moz-box-shadow: 1px 2px 3px 0px #8f8c8f;
    box-shadow: 1px 2px 3px 0px #8f8c8f; }
    .posts_container .post_sm_1 p, .posts_container .post_sm_2 p, .posts_container .post_sm_3 p, .posts_container .post_sm_4 p {
      font-family: "GothamBook";
      font-size: 0.875em;
      color: #566375;
      line-height: 1.286;
      text-align: center;
      height: 2.4em;
      padding: 1em 0.5em 0.2em 0.5em;
      font-weight: bold; }
    .posts_container .post_sm_1 p#post_title, .posts_container .post_sm_2 p#post_title, .posts_container .post_sm_3 p#post_title, .posts_container .post_sm_4 p#post_title {
      font-family: "GothamBook"; }
    .posts_container .post_sm_1 img, .posts_container .post_sm_2 img, .posts_container .post_sm_3 img, .posts_container .post_sm_4 img {
      margin-left: 35%;
      margin-top: -1.9em;
      position: static;
      z-index: 12; }
  .posts_container .post_sm_1 {
    padding-right: 0;
    padding-left: 0; }
    .posts_container .post_sm_1 hr {
      position: static;
      text-align: center;
      margin-top: -2em;
      border: none;
      width: 100%;
      height: 3px;
      background-color: #1baf5d; }
    .posts_container .post_sm_1 p#post_title {
      font-family: "GothamBook";
      color: #1baf5d; }
  .posts_container .post_sm_1_img {
    display: block;
    width: 100%;
    height: 53%;
    background-image: url("img/bg_post_sm_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px 3px 0 0; }
  .posts_container .post_sm_1_img_animate {
    display: none;
    width: 100%;
    height: 53%;
    background: url("img/bg_post_sm_1_animate.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px 3px 0 0; }
    .posts_container .post_sm_1_img_animate button {
      margin: 12% 0 0 15%;
      width: 141px;
      height: 35px;
      border: 2px solid white;
      border-radius: 25px;
      background: #1baf5d;
      color: white;
      font-family: "GothamBook";
      font-size: 0.75em;
      text-transform: uppercase; }
      .posts_container .post_sm_1_img_animate button:hover {
        transform: scale(1.05);
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05); }
      .posts_container .post_sm_1_img_animate button i {
        padding-right: 10px; }
    .posts_container .post_sm_1_img_animate img#feedback_stars {
      display: inline-block;
      margin: 2% 0 0 1.5%; }
    .posts_container .post_sm_1_img_animate img#feedback_post {
      display: inline-block;
      margin: 2% 0 0 3%; }
  .posts_container .post_sm_2 {
    padding-right: 0;
    padding-left: 0; }
    .posts_container .post_sm_2 hr {
      position: static;
      text-align: center;
      margin-top: -2em;
      border: none;
      width: 100%;
      height: 3px;
      background-color: #f19e1f; }
    .posts_container .post_sm_2 p#post_title {
      font-family: "GothamBook";
      color: #f19e1f; }
  .posts_container .post_sm_2_img {
    width: 100%;
    height: 53%;
    background-image: url("img/bg_post_sm_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px; }
  .posts_container .post_sm_2_img_animate {
    display: none;
    width: 100%;
    height: 53%;
    background: url("img/bg_post_sm_2_animate.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px 3px 0 0; }
    .posts_container .post_sm_2_img_animate button {
      margin: 12% 0 0 15%;
      width: 141px;
      height: 35px;
      border: 2px solid white;
      border-radius: 25px;
      background: #f19e1f;
      color: white;
      font-family: "GothamBook";
      font-size: 0.75em;
      text-transform: uppercase; }
      .posts_container .post_sm_2_img_animate button:hover {
        transform: scale(1.05);
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05); }
      .posts_container .post_sm_2_img_animate button i {
        padding-right: 10px; }
    .posts_container .post_sm_2_img_animate img#feedback_stars {
      display: inline-block;
      margin: 2% 0 0 1.5%; }
    .posts_container .post_sm_2_img_animate img#feedback_post {
      display: inline-block;
      margin: 2% 0 0 3%; }
  .posts_container .post_sm_3 {
    padding-right: 0;
    padding-left: 0; }
    .posts_container .post_sm_3 hr {
      position: static;
      text-align: center;
      margin-top: -2em;
      border: none;
      width: 100%;
      height: 3px;
      background-color: #88499c; }
    .posts_container .post_sm_3 p#post_title {
      color: #88499c; }
  .posts_container .post_sm_3_img {
    display: block;
    width: 100%;
    height: 53%;
    background-repeat: no-repeat;
    background: url("img/bg_post_sm_3.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 3px 3px 0 0; }
  .posts_container .post_sm_3_img_animate {
    display: none;
    width: 100%;
    height: 53%;
    background: url("img/bg_post_sm_3_animate.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px 3px 0 0; }
    .posts_container .post_sm_3_img_animate button {
      margin: 12% 0 0 15%;
      width: 141px;
      height: 35px;
      border: 2px solid white;
      border-radius: 25px;
      background: #88499c;
      color: white;
      font-family: "GothamBook";
      font-size: 0.75em;
      text-transform: uppercase; }
      .posts_container .post_sm_3_img_animate button:hover {
        transform: scale(1.05);
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05); }
      .posts_container .post_sm_3_img_animate button i {
        padding-right: 10px; }
    .posts_container .post_sm_3_img_animate img#feedback_stars {
      display: inline-block;
      margin: 2% 0 0 1.5%; }
    .posts_container .post_sm_3_img_animate img#feedback_post {
      display: inline-block;
      margin: 2% 0 0 3%; }
  .posts_container .post_sm_4 {
    padding-right: 0;
    padding-left: 0; }
    .posts_container .post_sm_4 hr {
      position: static;
      text-align: center;
      margin-top: -2em;
      border: none;
      width: 100%;
      height: 3px;
      background-color: #1baf5d; }
    .posts_container .post_sm_4 p#post_title {
      color: #1baf5d; }
  .posts_container .post_sm_4_img {
    display: block;
    width: 100%;
    height: 53%;
    background-repeat: no-repeat;
    background-image: url("img/bg_post_sm_4.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 3px 3px 0 0; }
  .posts_container .post_sm_4_img_animate {
    display: none;
    width: 100%;
    height: 53%;
    background: url("img/bg_post_sm_4_animate.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px 3px 0 0; }
    .posts_container .post_sm_4_img_animate button {
      margin: 12% 0 0 15%;
      width: 141px;
      height: 35px;
      border: 2px solid white;
      border-radius: 25px;
      background: #1baf5d;
      color: white;
      font-family: "GothamBook";
      font-size: 0.75em;
      text-transform: uppercase; }
      .posts_container .post_sm_4_img_animate button:hover {
        transform: scale(1.05);
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05); }
      .posts_container .post_sm_4_img_animate button i {
        padding-right: 10px; }
    .posts_container .post_sm_4_img_animate img#feedback_stars {
      display: inline-block;
      margin: 2% 0 0 1.5%; }
    .posts_container .post_sm_4_img_animate img#feedback_post {
      display: inline-block;
      margin: 2% 0 0 3%; }
  .posts_container p#post_title {
    padding-top: 0;
    font-size: 0.75em;
    font-family: "Myriad Pro";
    text-transform: uppercase;
    line-height: 4;
    text-align: center; }
  .posts_container .posts_big_row_2 {
    display: flex;
    Justify-content: space-between; }
  .posts_container .post_lg_1, .posts_container .post_lg_2 {
    background-color: white;
    width: 435px;
    height: 270px;
    margin-top: 2em;
    margin-bottom: 2em;
    -webkit-box-shadow: 1px 2px 3px 0px #8f8c8f;
    -moz-box-shadow: 1px 2px 3px 0px #8f8c8f;
    box-shadow: 1px 2px 3px 0px #8f8c8f;
    border-radius: 5px; }
  .posts_container .post_lg_1 {
    padding-right: 0px;
    padding-left: 0px; }
  .posts_container .post_lg_1_head {
    width: 100%;
    height: 45%;
    background-image: url("img/bg_post_lg_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px; }
    .posts_container .post_lg_1_head p {
      color: white;
      text-transform: uppercase;
      text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
      font-size: 1.125em;
      font-family: "GothamBook";
      color: white;
      text-transform: uppercase;
      text-align: left;
      padding-top: 4.75em;
      padding-left: 5.75em; }
  .posts_container img {
    position: static;
    margin-left: 1.2em;
    margin-top: -2em; }
  .posts_container hr {
    position: static;
    text-align: center;
    border: none;
    width: 100%;
    background-color: #1baf5d;
    height: 3px; }
  .posts_container .post_lg_1_main_text {
    display: table-row; }
    .posts_container .post_lg_1_main_text p#post_lg_stars {
      margin: 0;
      padding: 0;
      text-align: center; }
    .posts_container .post_lg_1_main_text p#feedback_img_1 {
      margin-top: 1em; }
    .posts_container .post_lg_1_main_text p#feedback_text_1 {
      color: #566375;
      font-family: "GothamBook";
      text-align: left;
      font-size: 0.875em;
      line-height: 1.05;
      padding-right: 3px; }
    .posts_container .post_lg_1_main_text img {
      display: block;
      margin-top: -0.8em;
      margin-left: 1.2em;
      padding-right: 0.8em;
      padding-bottom: 2em;
      float: left; }
    .posts_container .post_lg_1_main_text h4 {
      margin: -14px 0 0 0;
      font-family: "gothambold1";
      text-transform: uppercase; }
    .posts_container .post_lg_1_main_text a#read_more_feedback_1 {
      font-weight: bold;
      text-decoration: underline;
      color: #566375; }
  .posts_container .post_lg_2 {
    padding-right: 0px;
    padding-left: 0px; }
  .posts_container .post_lg_2_head {
    width: 100%;
    height: 45%;
    background-image: url("img/bg_post_lg_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px; }
    .posts_container .post_lg_2_head p {
      color: white;
      text-transform: uppercase;
      text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
      font-size: 1.125em;
      font-family: "GothamBook";
      color: white;
      text-transform: uppercase;
      text-align: left;
      padding-top: 4.75em;
      padding-left: 5.75em; }
  .posts_container img {
    position: static;
    margin-left: 1.2em;
    margin-top: -2em; }
  .posts_container hr {
    position: static;
    text-align: center;
    margin-top: -2em;
    border: none;
    width: 100%;
    background-color: #1baf5d;
    height: 3px; }
  .posts_container .post_lg_2_main_text {
    display: table-row; }
    .posts_container .post_lg_2_main_text p#post_lg_stars {
      margin: 0;
      padding: 0;
      text-align: center; }
    .posts_container .post_lg_2_main_text p#feedback_img_2 {
      margin-top: 1em; }
    .posts_container .post_lg_2_main_text p#feedback_text_2 {
      color: #566375;
      font-family: "GothamBook";
      text-align: left;
      font-size: 0.875em;
      line-height: 1.05;
      padding-right: 3px; }
    .posts_container .post_lg_2_main_text img {
      display: block;
      margin-top: -0.8em;
      margin-left: 1.2em;
      padding-right: 0.8em;
      padding-bottom: 2em;
      float: left; }
    .posts_container .post_lg_2_main_text h4 {
      margin: -14px 0 0 0;
      font-family: "gothambold1";
      text-transform: uppercase; }
    .posts_container .post_lg_2_main_text a#read_more_feedback_2 {
      font-weight: bold;
      text-decoration: underline;
      color: #566375; }
  .posts_container .posts_mix_row_1 {
    padding-left: 15px; }
    .posts_container .posts_mix_row_1 .post_lg_2, .posts_container .posts_mix_row_1 .post_lg_1 {
      width: 45.5%;
      margin-left: 2.5%;
      height: 16.75em; }
    .posts_container .posts_mix_row_1 p#feedback_text_2 {
      padding-right: 3px; }
    .posts_container .posts_mix_row_1 .post_sm_1, .posts_container .posts_mix_row_1 .post_sm_2, .posts_container .posts_mix_row_1 .post_sm_3, .posts_container .posts_mix_row_1 .post_sm_4 {
      height: 16.6875em;
      width: 20.8%;
      margin-left: 4%;
      background-color: white; }
  .posts_container p#lead_more_posts {
    margin: 2% 0 3% 0;
    font-size: 1.125em;
    font-family: "GothamBook";
    line-height: 2.667;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    -moz-text-decoration-line: overline;
    font-weight: bold; }
    .posts_container p#lead_more_posts a {
      color: #566375; }
      .posts_container p#lead_more_posts a:hover {
        color: #56329a; }

.offer {
  background-color: #f3f1f2; }
  .offer .offer_title {
    margin: 5.62em 0 4.3em 0;
    text-align: center; }
  .offer p#offer_title_text {
    font-size: 1.375em;
    font-family: "GothamBook";
    font-weight: bold;
    color: #566375;
    line-height: 1; }
  .offer p#offer_title_context {
    font-family: "GothamBook";
    color: #96a6a7;
    line-height: 1.25; }
  .offer .offer_icon {
    margin-left: 12%; }
  .offer .offer_title_row_helper {
    margin-top: 3%; }
  .offer p#offer_title_p_helper {
    font-family: "gothambold1";
    font-size: 1.375em;
    color: #1baf5d;
    line-height: 1.25;
    text-align: center; }
  .offer .offer_info {
    padding: 0 0 0 8%;
    margin-top: 3%;
    margin-bottom: 10%; }
  .offer .offer_info_p_1, .offer .offer_info_p_2 {
    margin-left: 5%;
    width: 38%;
    float: left;
    font-family: "GothamBook";
    color: #566375;
    line-height: 1.5;
    font-size: 0.875em; }
    .offer .offer_info_p_1 img, .offer .offer_info_p_2 img {
      margin-right: 2em;
      float: left;
      display: block;
      padding: 0.7em 0 3.6em 0; }
    .offer .offer_info_p_1 p, .offer .offer_info_p_2 p {
      display: block; }

.bottom {
  background-image: url("img/bg_bottom.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center; }
  .bottom .bottom_title {
    padding: 2.5em 0 2em 0;
    font-size: 1.5em;
    font-family: "GothamBook";
    font-weight: bold;
    color: white;
    line-height: 1.25;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15); }
  .bottom .subcribe_form {
    padding-bottom: 3.5em;
    border-bottom: 1px solid rgba(150, 166, 167, 0.5);
    font-family: "GothamBook";
    font-size: 1.1em;
    color: white; }
    .bottom .subcribe_form form {
      width: 50%;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 0.2);
      border: 0.1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4em;
      height: 58px; }
    .bottom .subcribe_form input[type=text] {
      border: none;
      margin: 0 0 1.5em 1.5em;
      padding-left: 2em;
      width: 13em;
      height: 3em;
      display: inline-block;
      list-style-type: none;
      background-color: transparent;
      background-image: url("img/letter.png");
      background-repeat: no-repeat;
      background-position: 3% 55%; }
      .bottom .subcribe_form input[type=text]:focus {
        background-color: transparent; }
      .bottom .subcribe_form input[type=text]:focus::-webkit-input-placeholder {
        color: transparent; }
      .bottom .subcribe_form input[type=text]:focus::-moz-placeholder {
        color: transparent; }
      .bottom .subcribe_form input[type=text]:focus:-moz-placeholder {
        color: transparent; }
      .bottom .subcribe_form input[type=text]:focus:-ms-input-placeholder {
        color: transparent; }
    .bottom .subcribe_form input[type="submit"] {
      float: right;
      display: inline-block;
      margin: 3px;
      height: 50px;
      width: 120px;
      font-family: "GothamBook";
      color: white;
      text-transform: uppercase;
      border: none;
      font-size: 0.875em;
      background-color: #e94e38;
      border-radius: 4em; }
      .bottom .subcribe_form input[type="submit"]:hover {
        background-color: #d4695a; }
  .bottom .feedback {
    padding-top: 2.5em;
    font-family: "GothamBook"; }
    .bottom .feedback p {
      color: white;
      text-decoration: underline;
      -moz-text-decoration-line: overline;
      line-height: 1.5; }
    .bottom .feedback li {
      margin-left: -3em;
      list-style-type: none;
      font-size: 0.875em;
      color: #c0bebc;
      line-height: 1.714; }
    .bottom .feedback p#feedback_icon {
      text-decoration: none; }
    .bottom .feedback img {
      padding: 0.5em 1em 2em 0; }
    .bottom .feedback p#copyright {
      padding-top: 0.8em;
      text-decoration: none;
      font-size: 0.875em; }

@media (max-width: 1024px) {
  .bg_header {
    padding-left: 0;
    padding-right: 0; }

  .posts_small_row_2 {
    margin-right: 0;
    margin-left: 0; } }
@media (max-width: 991px) {
  .row {
    margin-left: 0px;
    margin-right: 0px; }

  .search_row h2 {
    padding: 1em 0 1em 0; }

  .search_input form {
    width: 80%;
    margin: 0 auto; }

  .search_input input#search_input_select {
    margin-left: 2.5%;
    width: 45%; }

  .search_input input#input_data {
    width: 94%;
    margin-left: 2.5%; }

  .search_input form button[type="submit"] {
    margin: 0 auto 5%; }

  .header_user_button button#header_search_btn {
    float: left;
    width: 25%; }

  .header_user_button button#header_login_btn {
    float: left;
    width: 75%; }

  .topic {
    float: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25em; }

  .topic ul {
    width: 100%; }

  .topic li {
    width: 33%;
    margin-left: 3%;
    margin-right: auto; }

  .filter_icon_list {
    float: none;
    margin-left: auto;
    margin-right: auto; }

  .filter_icon_list li#filter_icon_text {
    font-size: 1em; }

  .filter_icon_list ul {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }

  .filter_input {
    float: none;
    margin-left: auto;
    margin-right: auto; }

  .filter_input form {
    width: 100%; }

  .filter_input form input[type="text"] {
    width: 48%;
    height: 50px;
    padding-left: 5%;
    font-size: 1em; }

  .filter_input form input[type="button"] {
    width: 48%;
    height: 50px;
    padding-left: 5%;
    font-size: 1em; }

  .posts_container {
    padding-top: 1em;
    padding-right: 0; }

  .posts_container .posts_small_row_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

  .posts_container .post_sm_1, .posts_container .post_sm_2,
  .posts_container .post_sm_3, .posts_container .post_sm_4 {
    width: 22%;
    min-width: 210px;
    margin: 2% 4% 2% 4%; }

  .posts_container .post_sm_1_img_animate button, .posts_container .post_sm_2_img_animate button,
  .posts_container .post_sm_3_img_animate button, .posts_container .post_sm_4_img_animate button {
    width: 80%;
    margin: 12% 0 0 10%; }

  .posts_big_row_2 .post_lg_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; } }
@media (max-width: 767px) {
  .search_input form {
    width: 100%; }

  .header_user_button button#header_search_btn {
    float: left;
    width: 25%; }

  .header_user_button button#header_login_btn {
    float: left;
    width: 75%;
    height: 5em; }

  .topic ul {
    margin-left: 0; }

  .filter_icon_list ul {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%; }

  .filter_icon_list ul li {
    margin-left: 1%; } }
@media (max-width: 480px) {
  .header_user_button button#header_search_btn {
    margin-left: 50%;
    float: left;
    width: 25%; }

  .header_user_button button#header_login_btn {
    float: left;
    width: 25%; }
    .header_user_button button#header_login_btn i.fa.fa-user.fa-lg {
      margin-left: 1vw; }

  .header_user_button span {
    margin-left: 25%; }

  .header_user_button span#header_login_text {
    display: none; }

  .search_row h2 {
    padding: 1em 15px 1em 15px; }

  .search_input input#search_input_select {
    width: 95%; }

  .search_input input#input_data {
    width: 95%; }

  .search_filter_container {
    padding-left: 0px;
    padding-right: 0px; }

  .topic li {
    padding-right: 5px; }

  .filter_input form input#input_place_filter {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px; }

  .filter_input form input#input_map_filter {
    width: 100%;
    background-position: 86.4% 50%; }

  .filter_icon_list ul {
    padding-left: 1em; }

  .filter_icon_list li#filter_icon_icon img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

/*# sourceMappingURL=style.css.map */
