@font-face {
  font-family: "gothambold1";
  src: url("fonts/gothambold1.eot");
  src: url("fonts/gothambold1.eot?#iefix");
  src: url("fonts/gothambold1.woff") format("woff");
  src: url("fonts/gothambold1.ttf") format("truetype"); }
@font-face {
  font-family: "GothamBook";
  src: url("fonts/GothamBook.eot");
  src: url("fonts/GothamBook.eot?#iefix");
  src: local("GothamBook");
  src: url("fonts/GothamBook.woff") format("woff");
  src: url("fonts/GothamBook.ttf") format("truetype"); }
@font-face {
  font-family: "FontAwesome";
  src: url("fonts/fontawesome.eot");
  src: url("fonts/fontawesome.eot#iefix");
  src: local("fonts/FontAwesome");
  src: url("fonts/fontawesome.woff") format("woff");
  src: url("fonts/fontawesome.ttf") format("truetype"); }
a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

button {
  outline: none;
  border: none; }

button:focus, input:focus {
  outline: none; }

body {
  background-color: #f3f1f2;
  background-size: cover; }

.header {
  background-image: url("img/bg_4_1.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center; }

.bg_header {
  background-color: white; }

.logo {
  margin-top: 0.8em; }

.nav_col {
  margin-top: 1.5em; }

.navigation_list li {
  display: inline;
  padding-left: 1em; }
.navigation_list a {
  font-family: "GothamBook";
  font-size: 0.875em;
  text-transform: uppercase;
  color: #96a6a7;
  text-decoration: none; }
  .navigation_list a:hover {
    text-decoration: none;
    color: #e94e38; }

.search_nav button {
  width: 4.8em;
  height: 4.4em;
  border: none;
  background-color: #e2dee0; }
  .search_nav button:hover {
    background-color: #edeced; }

.nav_login {
  margin-left: -0.7em;
  font-size: 0.875em;
  color: white; }
  .nav_login button {
    text-align: left;
    width: 100%;
    height: 5em;
    background-color: #e94e38;
    font-family: "GothamBook"; }
    .nav_login button:hover {
      border: none;
      background-color: #ee6653; }
    .nav_login button span {
      padding-left: 1em;
      padding-right: 0.5em; }
    .nav_login button a {
      text-transform: uppercase;
      display: block;
      color: white; }
      .nav_login button a:hover {
        color: white;
        text-decoration: none; }

.row h2 {
  padding: 1.8em 0 1em 0;
  text-align: center;
  font-family: "GothamBook";
  color: white; }

.search_input {
  font-family: "GothamBook";
  font-size: 1.1em;
  color: white; }
  .search_input form {
    width: 60%;
    margin: 0 auto; }
  .search_input input[type=text] {
    margin: 0 0 1.5em 1.5em;
    padding-left: 2em;
    width: 13em;
    height: 3.125em;
    display: inline-block;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0.1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4em; }
    .search_input input[type=text]:hover {
      background-color: rgba(255, 255, 255, 0.3); }
  .search_input input[type="text"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.55); }
  .search_input input[type="text"]:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.55); }
  .search_input input[type="text"]::-moz-placeholder {
    color: rgba(255, 255, 255, 0.55); }
  .search_input input[type="text"]:-moz-placeholder {
    color: rgba(255, 255, 255, 0.55); }
  .search_input input#input_d {
    width: 28em; }
  .search_input button[type="submit"] {
    display: block;
    margin: 0 0 1.8em 10.5em;
    height: 3.125em;
    font-family: "GothamBook";
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
    font-size: 1.1em;
    background-color: #e94e38;
    box-shadow: 0px 2px 0px 0px rgba(193, 65, 46, 0.004);
    -moz-box-shadow: 0px 2px 0px 0px rgba(193, 65, 46, 0.004);
    -webkit-box-shadow: 0px 2px 0px 0px rgba(193, 65, 46, 0.004);
    width: 140px;
    height: 60px;
    border-radius: 4em; }
    .search_input button[type="submit"]:hover {
      background-color: #d4695a; }

.search_filter {
  background-color: white;
  border-bottom: 1px solid rgba(150, 166, 167, 0.5); }

.topic ul {
  margin-left: -10px;
  margin-top: 1.5em;
  padding-left: 0; }
.topic li {
  display: inline;
  padding-right: 1em; }
.topic a {
  font-family: "GothamBook";
  font-size: 0.75em;
  text-transform: uppercase;
  color: #96a6a7;
  text-decoration: none;
  font-weight: bold; }
  .topic a:hover {
    text-decoration: none;
    color: #e94e38; }

.filter_input {
  margin-left: -10px;
  margin-top: 1em;
  margin-bottom: 1em; }
  .filter_input form {
    display: inline-block;
    margin: 0 auto; }
    .filter_input form input[type="text"] {
      padding-left: 1em;
      margin-left: 0.5em;
      width: 11em;
      height: 3em;
      border-radius: 4em;
      font-family: "GothamBook";
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.75em; }
    .filter_input form input[type="button"] {
      padding-left: 1.5em;
      text-align: left;
      width: 11em;
      height: 3em;
      border-radius: 4em;
      font-family: "GothamBook";
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.75em;
      background-color: #1baf5d;
      border: none;
      color: white; }
    .filter_input form #input_place_filter {
      border: 1px solid rgba(150, 166, 167, 0.9); }
      .filter_input form #input_place_filter:hover {
        background-color: #f0f0f0; }
    .filter_input form input[type="text"]::-webkit-input-placeholder {
      color: rgba(233, 78, 56, 0.9); }
    .filter_input form input[type="text"]:-ms-input-placeholder {
      color: rgba(233, 78, 56, 0.9); }
    .filter_input form input[type="text"]::-moz-placeholder {
      color: rgba(233, 78, 56, 0.9); }
    .filter_input form input[type="text"]:-moz-placeholder {
      color: rgba(233, 78, 56, 0.9); }
    .filter_input form input#input_map_filter:hover {
      background-color: rgba(27, 175, 93, 0.9); }

.filter_icon_list ul {
  margin-left: -10px;
  margin-top: 1em;
  padding-left: 0; }
.filter_icon_list li {
  display: inline;
  padding-right: 0.3em; }
.filter_icon_list li#filter_icon_text {
  font-family: "GothamBook";
  font-size: 0.75em;
  text-transform: uppercase;
  color: #96a6a7;
  text-decoration: none;
  font-weight: bold; }
.filter_icon_list li#filter_icon_text {
  display: inline-block; }
.filter_icon_list img:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3); }

/*# sourceMappingURL=style.css.map */
