@font-face 
	font-family: "gothambold1"
	src: url("fonts/gothambold1.eot")
	src: url("fonts/gothambold1.eot?#iefix")
	src: url("fonts/gothambold1.woff") format("woff") 
	src: url("fonts/gothambold1.ttf") format("truetype")

@font-face 
	font-family: "GothamBook"
	src: url("fonts/GothamBook.eot")
	src: url("fonts/GothamBook.eot?#iefix")
	src: local("GothamBook")
	src: url("fonts/GothamBook.woff") format("woff") 
	src: url("fonts/GothamBook.ttf") format("truetype")

@font-face 
	font-family: "FontAwesome"
	src: url("fonts/fontawesome.eot")
	src: url("fonts/fontawesome.eot#iefix")
	src: local("fonts/FontAwesome") 
	src: url("fonts/fontawesome.woff") format("woff")
	src: url("fonts/fontawesome.ttf") format("truetype")

@font-face 
	font-family: "GothamProMedium"
	src: url("/fonts/GothamProMedium/GothamProMedium.eot")
	src: url("/fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype")
	src: url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff")
	src: url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype")
	font-style: normal
	font-weight: normal
