@media (max-width: 1024px)
	body
		
	.bg_header
		padding-left: 0
		padding-right: 0
	.posts_small_row_2 
		margin-right: 0
		margin-left: 0
// 						991 px screen
@media (max-width: 991px)

	.row 
		margin-left: 0px
		margin-right: 0px
	.search_row h2
		padding: 1em 0 1em 0
	.search_input form
		width: 80%
		margin: 0 auto
	.search_input input#search_input_select
		margin-left: 2.5%
		width: 45%
	.search_input input#input_data
		width: 94%
		margin-left: 2.5%
	.search_input form button[type="submit"]
		margin: 0 auto 5%
	.header_user_button button#header_search_btn
		float: left
		width: 25%
	.header_user_button button#header_login_btn
		float: left
		width: 75%
	
	.topic 
		float: none
		margin-left: auto
		margin-right: auto
		font-size: 1.25em
	.topic ul
		width: 100%
	.topic li 
		width: 33%
		margin-left: 3%
		margin-right: auto
	.filter_icon_list
		float: none
		margin-left: auto
		margin-right: auto
	.filter_icon_list li#filter_icon_text
		font-size: 1em

	.filter_icon_list ul
		width: 100%
		margin-left: auto
		margin-right: auto
	.filter_input
		float: none
		margin-left: auto
		margin-right: auto
	.filter_input form
		width: 100%	
	.filter_input form input[type="text"]
		width: 48%
		height: 50px
		padding-left: 5%
		font-size: 1em
	.filter_input form input[type="button"]
		width: 48%
		height: 50px
		padding-left: 5%
		font-size: 1em

	.posts_container
		padding-top: 1em
		padding-right: 0
	.posts_container .posts_small_row_1
		display: flex
		flex-wrap: wrap
		justify-content: center
	.posts_container .post_sm_1, .posts_container .post_sm_2,
	.posts_container .post_sm_3, .posts_container .post_sm_4
		max-width: 22%
		min-width: 200px
		margin: 2% 1% 2% 1%
	.posts_container .post_sm_1_img_animate button, .posts_container .post_sm_2_img_animate button,
	.posts_container .post_sm_3_img_animate button, .posts_container .post_sm_4_img_animate button
		width: 80%
		margin: 12% 0 0 10% 

	.posts_container .posts_big_row_2 
		display: flex
		flex-wrap: wrap
		Justify-content: center

	.posts_container .posts_big_row_2 .post_lg_1, .posts_container .posts_big_row_2 .post_lg_2
		margin-left: 1%
		margin-right: 1%

	.posts_container .posts_small_row_2
		display: none
	.posts_mix_row_1
		display: none


	.offer .offer_title
		margin: 4em 0 1em 0

	.offer_container .offer_icon_row
		margin: 0 2%
	.offer_container .offer_icon_row .offer_icon	
		display: flex
		flex-wrap: wrap
		Justify-content: center
		transform: scale(0.7)
		margin: 0
	.offer_container .offer_icon_row .offer_icon img
		margin: 2% 2%
	.offer_container .offer_icon_row .offer_icon #offer_hr
		display: none
	.offer_info .offer_info_p_1, .offer_info .offer_info_p_2

	.offer .offer_container .offer_info

		padding-left: 0
	.offer .offer_container .offer_info .offer_info_p_1, .offer .offer_container .offer_info .offer_info_p_2
		margin-left: 0
		width: 50%

	
	.bottom .subcribe_form form
		width: 75%
	.bottom .subcribe_form form input[type="submit"]
		width: 30%
		padding: 0 5px

	.bottom .feedback .feedback_row_copyright
		margin-top: 15px
		float: left
		width: 100%
	.bottom .feedback .feedback_row_copyright p#feedback_icon img
		padding: 0 8px 0 0



@media (max-width: 767px)

	.search_input form
		width: 100%	
	
	.header_user_button button#header_search_btn
		float: left
		width: 25%
	.header_user_button button#header_login_btn
		float: left
		width: 75%
		height: 5em
	.topic ul
		margin-left: 0

	.filter_icon_list ul
		margin-left: auto
		margin-right: auto
		padding-left: 5%
	.filter_icon_list ul li 
		margin-left: 1%
	.posts_container .posts_big_row_2 
		display: none
	.offer .offer_container .offer_info .offer_info_p_1, .offer .offer_container .offer_info .offer_info_p_2
		width: 100%

	.bottom .subcribe_form
		font-size: 0.75em	
	.bottom .subcribe_form form
		width: 100%
	.bottom .subcribe_form form input[type="text"]
		background-image: none
		margin: 8px 0 0 0 

@media (max-width: 480px)

	.header_user_button button#header_search_btn
		margin-left: 50%
		float: left
		width: 25%
	.header_user_button button#header_login_btn
		float: left
		width: 25%
		i.fa.fa-user.fa-lg
			margin-left: 1vw
			
	.header_user_button span 
		margin-left: 25%
	.header_user_button span#header_login_text
		display: none

	.search_row h2
		padding: 1em 15px 1em 15px
	.search_input input#search_input_select
		width: 95%
	.search_input input#input_data
		width: 95%
	.search_filter_container
		padding-left: 0px
		padding-right: 0px
	.topic li 
		padding-right: 5px
	.filter_input form input#input_place_filter
		width: 100%
		margin-left: 0
		margin-bottom: 10px
	.filter_input form input#input_map_filter
		width: 100%
		background-position: 86.4% 50%

	.filter_icon_list ul
		padding-left: 1em
	.filter_icon_list li#filter_icon_icon img
		-ms-transform: scale(1.1)
		-webkit-transform: scale(1.21)
		transform: scale(1.1)
		padding: 5px 0


