@import "fonts"
@import "var"
// @import   @ / _media in the end of "style.sass"

a 
	text-decoration: none
	&:hover
		text-decoration: none
button
	outline: none
	border: none
button, input
	&:focus
		outline: none

// ===		===		=== navigation - layout - 1 
body
	background-color: #f3f1f2


.header
	background-image: url("#{$get-path-to-img}/bg_4_1.png")
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
	background-position: center center
    

.bg_header
	background-color: rgb(255, 255, 255)
.logo
	margin-top: 0.8em
.nav_col
	margin-top: 1.5em
.navigation_list 

	li
		display: inline
		padding-left: 1em
	a 
		font-family: "GothamBook"
		font-size: 0.875em
		text-transform: uppercase
		color: rgb(150, 166, 167)
		text-decoration: none
		&:hover
			text-decoration: none
			color: #e94e38

.header_user_button
	overflow: hidden
	margin-left: 0
	margin-right: 0
	padding-left: 0
	padding-right: 0
	button#header_search_btn 
		float: left
		width: 31%
		height: 4.4em
		border: none
		background-color: #e2dee0
		&:hover
			background-color: #edeced
	button#header_login_btn
		float: left
		font-size: 0.875em
		color: rgb(255, 255, 255)
		text-align: left
		width: 60%
		height: 5em
		background-color: #e94e38
		font-family: "GothamBook"
		&:hover 
			border: none
			background-color: #ee6653
		i.fa.fa-user.fa-lg
			padding-left: 10%
			padding-right: 10%
		a 
			text-transform: uppercase
			display: block
			color: rgb(255, 255, 255)
			&:hover
				color: rgb(255, 255, 255)
				text-decoration: none
// ================================== Search
.search_row
	h2
		padding: 1.8em 0 1em 0
		text-align: center
		font-family: "GothamBook"
		color: rgb(255, 255, 255)
.search_input
	font-family: "GothamBook"
	font-size: 1.1em
	color: rgb(255, 255, 255)
	form
		width: 60%
		margin: 0 auto
	input[type=text]
		margin: 0 0 1.5em 1.5em
		padding-left: 2em
		width: 39%
		height: 3.125em
		display: inline-block
		list-style-type: none
		background-color: rgba(255, 255, 255, 0.2) 
		border: 0.1px solid rgba(255, 255, 255, 0.3)
		border-radius: 4em
		&:hover
			background-color: rgba(255, 255, 255, 0.3) 
		&:focus::-webkit-input-placeholder
			color: transparent
		&:focus::-moz-placeholder
			color: transparent		
		&:focus:-moz-placeholder
			color: transparent
		&:focus:-ms-input-placeholder
			color: transparent
	input#search_input_select
		background-image: url("#{$get-path-to-img}/ar_down.png")
		background-repeat: no-repeat
		background-position: 90% 50%
	input[type="text"]::-webkit-input-placeholder 
		color: rgba(255, 255, 255, 0.8) 
	input[type="text"]:-ms-input-placeholder
		color: rgba(255, 255, 255, 0.8) 
	input[type="text"]::-moz-placeholder 
		color: rgba(255, 255, 255, 0.8) 		
	input[type="text"]:-moz-placeholder
		color: rgba(255, 255, 255, 0.8) 	
	input#input_data
		width: 83%
	button[type="submit"]
		display: block
		margin: 0 0 5% 35%
		font-family: "GothamBook"
		color: rgb(255, 255, 255)
		text-transform: uppercase
		text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15)
		font-size: 1.1em
		background-color: rgb(233, 78, 56)
		box-shadow: 0px 2px 0px 0px rgba(193, 65, 46, 0.004)
		-moz-box-shadow: 0px 2px 0px 0px rgba(193, 65, 46, 0.004)
		-webkit-box-shadow: 0px 2px 0px 0px rgba(193, 65, 46, 0.004)
		width: 140px
		height: 60px
		border-radius: 4em
		&:hover
			background-color: #d4695a

.search_filter
	background-color: rgb(255, 255, 255)
	border-bottom: 1px solid rgba(150, 166, 167, 0.5)
.topic

	ul 
		margin-left: -10px
		margin-top: 1.5em
		padding-left: 0
	li
		display: inline
		padding-right: 1em
	a 
		font-family: "GothamBook"
		font-size: 0.75em
		text-transform: uppercase
		color: rgb(150, 166, 167)
		text-decoration: none
		font-weight: bold
		&:hover
			text-decoration: none
			color: rgb(233, 78, 56)
.filter_input
	margin-left: -10px
	margin-top: 1em
	margin-bottom: 1em
	form
		display: inline-block
		margin: 0 auto
		input[type="text"]
			padding-left: 1em
			margin-left: 0.5em
			width: 11em
			height: 3em
			border-radius: 4em
			font-family: "GothamBook"
			font-weight: bold
			text-transform: uppercase
			font-size: 0.75em
		input[type="button"]
			padding-left: 1.5em
			text-align: left
			width: 11em
			height: 3em
			border-radius: 4em
			font-family: "GothamBook"
			font-weight: bold
			text-transform: uppercase
			font-size: 0.75em
			background-color: rgb(27, 175, 93)
			border: none
			color: rgb(255, 255, 255)
		#input_place_filter
			background-image: url("#{$get-path-to-img}/search_filter_ar_down.png")
			background-repeat: no-repeat
			background-position: 87% 50%
			border: 1px solid rgba(150, 166, 167, 0.9)
			&:hover
				background-color: rgb(240, 240, 240)
		input[type="text"]::-webkit-input-placeholder 
			color: rgba(233, 78, 56, 0.9) 
		input[type="text"]:-ms-input-placeholder
			color: rgba(233, 78, 56, 0.9) 
		input[type="text"]::-moz-placeholder 
			color: rgba(233, 78, 56, 0.9) 		
		input[type="text"]:-moz-placeholder
			color: rgba(233, 78, 56, 0.9) 
		input#input_map_filter
			background-image: url("#{$get-path-to-img}/search_filter_map_icon.png")
			background-repeat: no-repeat
			background-position: 87% 50%
			&:hover
				background-color: rgba(27, 175, 93, 0.9)
.filter_icon_list
	float: right
	padding-right: 0
	padding-left: 0
	margin-left: 0
	margin-bottom: 0
	ul 
		margin-left: 0
		margin-top: 1em
		padding-left: 0
	li
		display: inline
		padding-right: 0.3em
	li#filter_icon_text
		font-family: "GothamBook"
		font-size: 0.75em
		text-transform: uppercase
		color: rgb(150, 166, 167)
		text-decoration: none
		font-weight: bold
	li#filter_icon_text
		display: inline-block
	img
		&:hover
			-ms-transform: scale(1.3) /* IE 9 */
			-webkit-transform: scale(1.3) /* Safari */
			transform: scale(1.3) /* Standard syntax */

// ============== P    O     S     T  
.posts
	background-color: #f3f1f2
.posts_container
	padding-right: 15px
	padding-top: 2em
	border-bottom: 1px solid rgba(150, 166, 167, 0.5)

	.post_sm_1, .post_sm_2, .post_sm_3, .post_sm_4
		margin: 1em 0 1em 4%
		height: 16.6875em
		width: 20%
		background-color: rgb(255, 255, 255)
		z-index: 1
		border-radius: 5px
		-webkit-box-shadow: 1px 2px 3px 0px rgba(143,140,143,1)
		-moz-box-shadow: 1px 2px 3px 0px rgba(143,140,143,1)
		box-shadow: 1px 2px 3px 0px rgba(143,140,143,1)
		p 
			font-family: "GothamBook"
			font-size: 0.875em
			color: rgb(86, 99, 117)
			line-height: 1.286
			text-align: center
			height: 2.4em
			padding: 1em 0.5em 0.2em 0.5em
			font-weight: bold
		p#post_title
			font-family: "GothamBook"
		img 
			margin-left: 35%
			margin-top: -1.9em
			position: static
			z-index: 12
	.post_sm_1
		padding-right: 0
		padding-left: 0
		hr 
			position: static
			text-align: center
			margin-top: -2em
			border: none
			width: 100%
			height: 3px
			background-color: rgb(27, 175, 93)
		p#post_title
			font-family: "GothamBook"
			color: rgb(27, 175, 93)
	.post_sm_1_img	
		display: block
		width: 100%
		height: 53%
		background-image: url("#{$get-path-to-img}/bg_post_sm_1.jpg")
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		border-radius: 3px 3px 0 0
	.post_sm_1_img_animate
		display: none
		width: 100%
		height: 53%
		background: url("#{$get-path-to-img}/bg_post_sm_1_animate.jpg")
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		border-radius: 3px 3px 0 0
		button
			margin: 12% 0 0 15%
			width: 141px
			height: 35px
			border: 2px solid rgb(255, 255, 255)
			border-radius: 25px
			background: rgb(27, 175, 93)
			color: rgb(255, 255, 255)
			font-family: "GothamBook"
			font-size: 0.75em
			text-transform: uppercase
			&:hover
				transform: scale(1.05)
				-ms-transform: scale(1.05) /* IE 9 */
				-webkit-transform: scale(1.05) /* Safari */
			i 
				padding-right: 10px
		img#feedback_stars
			display: inline-block
			margin: 2% 0 0 1.5%
		img#feedback_post
			display: inline-block
			margin: 2% 0 0 3%
	.post_sm_2
		padding-right: 0
		padding-left: 0
		hr 
			position: static
			text-align: center
			margin-top: -2em
			border: none
			width: 100%
			height: 3px
			background-color: rgb(241, 158, 31)
		p#post_title
			font-family: "GothamBook"
			color: rgb(241, 158, 31)
	.post_sm_2_img	
		width: 100%
		height: 53%
		background-image: url("#{$get-path-to-img}/bg_post_sm_2.jpg")
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		border-radius: 3px
	.post_sm_2_img_animate
		display: none
		width: 100%
		height: 53%
		background: url("#{$get-path-to-img}/bg_post_sm_2_animate.jpg")
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		border-radius: 3px 3px 0 0
		button
			margin: 12% 0 0 15%
			width: 141px
			height: 35px
			border: 2px solid rgb(255, 255, 255)
			border-radius: 25px
			background: rgb(241, 158, 31)
			color: rgb(255, 255, 255)
			font-family: "GothamBook"
			font-size: 0.75em
			text-transform: uppercase
			&:hover
				transform: scale(1.05)
				-ms-transform: scale(1.05) /* IE 9 */
				-webkit-transform: scale(1.05) /* Safari */
			i 
				padding-right: 10px
		img#feedback_stars
			display: inline-block
			margin: 2% 0 0 1.5%
		img#feedback_post
			display: inline-block
			margin: 2% 0 0 3%
	.post_sm_3
		padding-right: 0
		padding-left: 0		
		hr 
			position: static
			text-align: center
			margin-top: -2em
			border: none
			width: 100%
			height: 3px
			background-color: rgb(136, 73, 156)
		p#post_title
			color: rgb(136, 73, 156)
	.post_sm_3_img	
		display: block
		width: 100%
		height: 53%
		background-repeat: no-repeat
		background: url("#{$get-path-to-img}/bg_post_sm_3.jpg")
		background-position: center
		background-size: cover
		border-radius: 3px 3px 0 0
	.post_sm_3_img_animate
		display: none
		width: 100%
		height: 53%
		background: url("#{$get-path-to-img}/bg_post_sm_3_animate.jpg")
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		border-radius: 3px 3px 0 0
		button
			margin: 12% 0 0 15%
			width: 141px
			height: 35px
			border: 2px solid rgb(255, 255, 255)
			border-radius: 25px
			background: rgb(136, 73, 156)
			color: rgb(255, 255, 255)
			font-family: "GothamBook"
			font-size: 0.75em
			text-transform: uppercase
			&:hover
				transform: scale(1.05)
				-ms-transform: scale(1.05) /* IE 9 */
				-webkit-transform: scale(1.05) /* Safari */
			i 
				padding-right: 10px
		img#feedback_stars
			display: inline-block
			margin: 2% 0 0 1.5%
		img#feedback_post
			display: inline-block
			margin: 2% 0 0 3%
	.post_sm_4
		padding-right: 0
		padding-left: 0
		hr 
			position: static
			text-align: center
			margin-top: -2em
			border: none
			width: 100%
			height: 3px
			background-color: rgb(27, 175, 93)	
		p#post_title
			color: rgb(27, 175, 93)
	.post_sm_4_img	
		display: block
		width: 100%
		height: 53%
		background-repeat: no-repeat
		background-image: url("#{$get-path-to-img}/bg_post_sm_4.jpg")
		background-position: center
		background-size: cover
		border-radius: 3px 3px 0 0
	.post_sm_4_img_animate
		display: none
		width: 100%
		height: 53%
		background: url("#{$get-path-to-img}/bg_post_sm_4_animate.jpg")
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		border-radius: 3px 3px 0 0
		button
			margin: 12% 0 0 15%
			width: 141px
			height: 35px
			border: 2px solid rgb(255, 255, 255)
			border-radius: 25px
			background: rgb(27, 175, 93)
			color: rgb(255, 255, 255)
			font-family: "GothamBook"
			font-size: 0.75em
			text-transform: uppercase
			&:hover
				transform: scale(1.05)
				-ms-transform: scale(1.05) /* IE 9 */
				-webkit-transform: scale(1.05) /* Safari */
			i 
				padding-right: 10px
		img#feedback_stars
			display: inline-block
			margin: 2% 0 0 1.5%
		img#feedback_post
			display: inline-block
			margin: 2% 0 0 3%
	p#post_title
		padding-top: 0
		font-size: 0.75em
		font-family: "Myriad Pro"
		text-transform: uppercase
		line-height: 4
		text-align: center

	.post_lg_1, .post_lg_2
		background-color: rgb(255, 255, 255)
		width: 44%
		height: 16.875em
		margin: 1em 0 1em 4%
		-webkit-box-shadow: 1px 2px 3px 0px rgba(143,140,143,1)
		-moz-box-shadow: 1px 2px 3px 0px rgba(143,140,143,1)
		box-shadow: 1px 2px 3px 0px rgba(143,140,143,1)
		border-radius: 5px

	.post_lg_1
		padding-right: 0px
		padding-left: 0px
	.post_lg_1_head
		width: 100%
		height: 45%
		background-image: url("#{$get-path-to-img}/bg_post_lg_1.png")
		background-repeat: no-repeat
		background-size: cover
		border-radius: 5px
		p
			color: rgb(255, 255, 255)
			text-transform: uppercase
			text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15)
			font-size: 1.125em
			font-family: "GothamBook"
			color: rgb(255, 255, 255)
			text-transform: uppercase
			text-align: left
			padding-top: 4.75em
			padding-left: 5.75em
	img 
		position: static
		margin-left: 1.2em
		margin-top: -2em
	hr 
		position: static
		text-align: center
		border: none
		width: 100%
		background-color: rgb(27, 175, 93)
		height: 3px

	.post_lg_1_main_text
		display: table-row
		p#post_lg_stars
			margin: 0
			padding: 0
			text-align: center
		p#feedback_img_1
			margin-top: 1em
		p#feedback_text_1
			color: rgb(86, 99, 117)
			font-family: "GothamBook"
			text-align: left
			font-size: 0.875em
			line-height: 1.05
			padding-right: 3px
		img 
			display: block
			margin-top: -0.8em
			margin-left: 1.2em
			padding-right: 0.8em
			padding-bottom: 2em
			float: left
		h4
			margin: -14px 0 0 0
			font-family: "gothambold1"
			text-transform: uppercase
		a#read_more_feedback_1
			font-weight: bold
			text-decoration: underline
			color: rgb(86, 99, 117)

	.post_lg_2
		padding-right: 0px
		padding-left: 0px
	.post_lg_2_head
		width: 100%
		height: 45%
		background-image: url("#{$get-path-to-img}/bg_post_lg_2.png")
		background-repeat: no-repeat
		background-size: cover
		border-radius: 5px
		p
			color: rgb(255, 255, 255)
			text-transform: uppercase
			text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15)
			font-size: 1.125em
			font-family: "GothamBook"
			color: rgb(255, 255, 255)
			text-transform: uppercase
			text-align: left
			padding-top: 4.75em
			padding-left: 5.75em
	img 
		position: static
		margin-left: 1.2em
		margin-top: -2em
	hr 
		position: static
		text-align: center
		margin-top: -2em
		border: none
		width: 100%
		background-color: rgb(27, 175, 93)
		height: 3px
	.post_lg_2_main_text
		display: table-row
		p#post_lg_stars
			margin: 0
			padding: 0
			text-align: center
		p#feedback_img_2
			margin-top: 1em
		p#feedback_text_2
			color: rgb(86, 99, 117)
			font-family: "GothamBook"
			text-align: left
			font-size: 0.875em
			line-height: 1.05
			padding-right: 3px
		img 
			display: block
			margin-top: -0.8em
			margin-left: 1.2em
			padding-right: 0.8em
			padding-bottom: 2em
			float: left
		h4
			margin: -14px 0 0 0
			font-family: "gothambold1"
			text-transform: uppercase
		a#read_more_feedback_2
			font-weight: bold
			text-decoration: underline
			color: rgb(86, 99, 117)

	.posts_mix_row_1
		padding-left: 15px
		.post_lg_2, .post_lg_1
			width: 45.5%
			margin-left: 2.5%
			height: 16.75em
		p#feedback_text_2
			padding-right: 3px
		.post_sm_1, .post_sm_2, .post_sm_3, .post_sm_4
			height: 16.6875em
			width: 20.8%
			margin-left: 4%
			background-color: rgb(255, 255, 255)



	p#lead_more_posts 
		margin: 2% 0 3% 0
		font-size: 1.125em
		font-family: "GothamBook"
		line-height: 2.667
		width: 100%
		text-align: center
		text-decoration: underline
		-moz-text-decoration-line: overline
		font-weight: bold
		a
			color: rgb(86, 99, 117)
			&:hover
				color: rgb(86, 50, 154)
// ===============				OFFER   =======================


.offer
	background-color: #f3f1f2
	.offer_title
		margin: 5.62em 0 4.3em 0
		text-align: center
	p#offer_title_text
		font-size: 1.375em
		font-family: "GothamBook"
		font-weight: bold
		color: #566375
		line-height: 1
	p#offer_title_context
		font-family: "GothamBook"
		color: rgb(150, 166, 167)
		line-height: 1.25

	.offer_icon
		margin-left: 12%
	.offer_title_row_helper
		margin-top: 3%
	p#offer_title_p_helper
		font-family: "gothambold1"
		font-size: 1.375em
		color: rgb(27, 175, 93)
		line-height: 1.25
		text-align: center
	.offer_info
		padding: 0 0 0 8%
		margin-top: 3%
		margin-bottom: 10%
	.offer_info_p_1, .offer_info_p_2
		margin-left: 5%
		width: 38%
		float: left
		font-family: "GothamBook"
		color: rgb(86, 99, 117)
		line-height: 1.5
		font-size: 0.875em
		img
			margin-right: 2em
			float: left
			display: block
			padding: 0.7em 0 3.6em 0

		p 
			display: block
// =========================    BOTTOM

.bottom 
	background-image: url("#{$get-path-to-img}/bg_bottom.png")
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
	background-position: center center

	.bottom_title
		padding: 2.5em 0 2em 0
		font-size: 1.5em
		font-family: "GothamBook"
		font-weight: bold
		color: rgb(255, 255, 255)
		line-height: 1.25
		text-align: center
		text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15)
	.subcribe_form
		padding-bottom: 3.5em
		border-bottom: 1px solid rgba(150, 166, 167, 0.5)
		font-family: "GothamBook"
		font-size: 1.1em
		color: rgb(255, 255, 255)
		form
			width: 50%
			margin: 0 auto
			background-color: rgba(255, 255, 255, 0.2) 
			border: 0.1px solid rgba(255, 255, 255, 0.3)
			border-radius: 4em
			height: 58px
		input[type=text]
			border: none
			margin: 0 0 1.5em 1.5em
			padding-left: 2em
			width: 13em
			height: 3em
			display: inline-block
			list-style-type: none
			background-color: transparent
			background-image: url("#{$get-path-to-img}/letter.png")
			background-repeat: no-repeat
			background-position: 3% 55%
			&:focus
				background-color: transparent 
			&:focus::-webkit-input-placeholder
				color: transparent
			&:focus::-moz-placeholder
				color: transparent		
			&:focus:-moz-placeholder
				color: transparent
			&:focus:-ms-input-placeholder
				color: transparent
		input[type="submit"]
			float: right
			display: inline-block
			margin: 3px
			height: 50px
			width: 120px
			font-family: "GothamBook"
			color: rgb(255, 255, 255)
			text-transform: uppercase
			border: none
			font-size: 0.875em
			background-color: rgb(233, 78, 56)
			border-radius: 4em
			&:hover
				background-color: #d4695a
	.feedback
		padding-top: 2.5em
		font-family: "GothamBook"
		p 
			color: rgb(255, 255, 255)
			text-decoration: underline
			-moz-text-decoration-line: overline
			line-height: 1.5
		li 
			margin-left: -3em
			list-style-type: none
			font-size: 0.875em
			color: rgb(192, 190, 188)
			line-height: 1.714

		p#feedback_icon
			text-decoration: none
		img
			padding: 0.5em 1em 2em 0

		p#copyright
			padding-top: 0.8em
			text-decoration: none
			font-size: 0.875em


// import @media
@import "media"