@import "fonts"
@import "var"
@import "media"





// ===		===		=== navigation - layout - 2
.navigation
	border-bottom: 1px solid black
.logo
	margin-top: 0.7em

.nav_list
	margin-top: 1.5em
	ul li
		display: inline
		text-transform: uppercase
		list-style-type: none
		color: rgb(150, 166, 167)
		font-family: "Myriad Pro"
		font-size: 0.85em
		padding: 0 0.4em

.search
	width: 4.62em
	height: 4.62em
	background-color: #e2dee0
	i 
		margin: 1.4em 0 0 0.85em
